/*Key Building Blocks*/
main {
    padding: 35px;
    display: block;
    unicode-bidi: isolate;
}

header {
    background-color: #b9d989;
    padding: 5px;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #000000;
}

footer {
    background-color: #0d6efd;
    padding: 5px;
}

.bl-1  {
    background-color: #000000;
    padding: 5px;
}

.container {
    max-height: 1200px;
    min-height: 700px;
}

/*Main Building Blocks*/
.bg-img {
    background-image: url(../images/max-fuchs-Nm6ojlDO-5c-unsplash.jpeg);
    /* height: 500px; */
    margin: 35px;
    background-position: center;
    background-size: cover;
    background-origin: padding-box;
    background-repeat: no-repeat;

    filter: drop-shadow(0 0 0.25rem rgb(196, 196, 196));
}


.form1 {
    background-image: #fefad800;
    background-position: center;
    background-size: cover;
    background-origin: padding-box;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 0.25rem rgb(196, 196, 196));
}

.nav-link {
    color: #000000;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-link active:hover {
    color: #0d6efd;
}

.bg-prim1 {
    background-color: #f4f4f4;
}


h5 {
    color: black;
}

.b-example-divider {
    margin: 15px;
    height: 48px;
    background-color: rgba(235, 235, 235, 0.1);
    border: solid rgba(117, 117, 117, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 3px 8px rgba(122, 122, 122, 0.15);
}

.flatcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}